<h1>LigatureYourName</h1>

<% if flash[:error] %>
<p class="error_message"><%= flash[:error] %></p>
<% end %>

<%= form_tag(fonts_path, method: :post) do %>
  <% 5.times do |i| %>
  <fieldset>
    <% name = "font_data[ligature_list][#{i}]" %>
    <dl>
      <dt>対象文字列</dt>
      <dd><%= text_field_tag "#{name}[ligature]", "", id: "ligature#{i}", size: 10, maxlength: 10 %></dd>
      <dt>文字装飾</dt>
      <dd class="deco_type"><label><%= radio_button_tag "#{name}[deco_type]", "1", true, id: "radio_1_#{i}" %><%= image_tag("inverse.png", alt: "白黒反転") %></label>
        <label><%= radio_button_tag "#{name}[deco_type]", "2", false, id: "radio_2_#{i}" %><%= image_tag("bottomline.png", alt: "下線") %></label>
        <label><%= radio_button_tag "#{name}[deco_type]", "3", false, id: "radio_3_#{i}" %><%= image_tag("topline.png", alt: "上線") %></label>
        <label><%= radio_button_tag "#{name}[deco_type]", "4", false, id: "radio_4_#{i}" %><%= image_tag("bothline.png", alt: "上下線") %></label>
        <label><%= radio_button_tag "#{name}[deco_type]", "0", false, id: "radio_0_#{i}" %><%= image_tag("normal.png", alt: "通常") %></label></dd>
      <dt>太字</dt>
      <dd class="bold"><%= check_box_tag "#{name}[bold]", true, false, id: "bold#{i}" %><%= label_tag("bold#{i}") do %><span>太字</span><% end %></dd>
      <!-- dd class="bold"><%= check_box_tag "#{name}[bold]", true, false, id: "bold#{i}" %><%= label_tag "bold#{i}", "太字" %></dd -->
    </dl>
  </fieldset>
  <% end %>
  <%= submit_tag "作成" %>
<% end %>
