<%= javascript_tag do %>
  document.addEventListener("DOMContentLoaded", function(e) {
    var con = connectFontCreator("<%= raw(j(@font_id)) %>", "<%= raw(j(font_file_font_path(@font_id))) %>");
  });
  window.addEventListener("unload", function() {});
<% end %>

<h1>LigatureYourName</h1>
<div id="progress_bar_div"><progress id="font_progress_bar" max="100" value="0"></progress></div>
<p class="creating">作成中...</p>
<p class="download" style="display: none;"><a id="font_file_link" download="LigatureYourName.ttf">ダウンロード</a> <%= link_to "戻る", new_font_path %></p>
<p class="error" style="display: none;">エラーが発生しました。<br />
申し訳ありませんが、<%= link_to "最初のページ", new_font_path %>に戻ってやり直してください。</p>
